
body{
    background-color: rgb(50, 50, 50);
}


.vie_perso{
    margin-top:70px;
    color: white;
    padding: 10px;

}

.vie_perso h2{
    text-align: center;
    color: white;
    text-decoration: underline;
}

.bio1{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.bio1 img{
    width: 20%;
}

.bio2{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

.bio2 img:nth-child(1){
    width: 30%;
}

.bio2 img:nth-child(2){
    width: 30%;
}

.bio3{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.bio3 img{
    width: 15%;
}

.bio4{
    display: flex;
    justify-content: center;
    padding-top:20px ;
    padding-bottom: 20px;
}

.bio4 img{
    width: 25%;
}

.bio5{
    padding-top:20px ;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.bio5 img:nth-child(1){
    width: 25%;
}

.bio5 img:nth-child(2){
    width: 25%;
}

.bio6{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bio6 img:nth-child(1){
    width: 30%;
}

.bio6 img:nth-child(2){
    width: 30%;
}

.bio7{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.bio7 img{
    width: 30%;
}

.bio8{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.bio8 img{
    width: 30%;
}

.bio9{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.bio9 img{
    width: 30%;
}

.bio10{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;  
}

.bio10 img{
    width: 30%;
}